* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 10px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    ;
    grid-template-rows: 250px 250px 250px;
    gap: 10px;
    grid-template-areas: " box1 box2 box3"
        "box4  box5 box6"
        "box7  box8 box9";
}

section div {
    position: relative;
    /* padding-top: 47%; */
    /* display: none; */

}

section div:hover>h3 {
    padding-top: 48%;
    top: 0;
    transition: all 0.5s linear;
}

section div h3 {
    color: white;
    padding-top: 0%;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s linear;
}

.box1 {
    grid-area: box1;
}


.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}